<%= form_for(@core) do |f| %>
  <% if @core.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@core.errors.count, "error") %> prohibited this core from being saved:</h2>

      <ul>
      <% @core.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :frecuencia %><br />
    <%= f.number_field :frecuencia %>
  </div>
  <div class="field">
    <%= f.label :marca %><br />
    <%= f.number_field :marca %>
  </div>
  <div class="field">
    <%= f.label :nucleos %><br />
    <%= f.number_field :nucleos %>
  </div>
  <div class="field">
    <%= f.label :modelo %><br />
    <%= f.text_field :modelo %>
  </div>
  <div class="field">
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :thread %><br />
    <%= f.number_field :thread %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
