<p id="notice"><%= notice %></p>

<p>
  <b>Frecuencia:</b>
  <%= @core.frecuencia %>
</p>

<p>
  <b>Marca:</b>
  <%= @core.marca %>
</p>

<p>
  <b>Nucleos:</b>
  <%= @core.nucleos %>
</p>

<p>
  <b>Modelo:</b>
  <%= @core.modelo %>
</p>

<p>
  <b>Nombre:</b>
  <%= @core.nombre %>
</p>

<p>
  <b>Thread:</b>
  <%= @core.thread %>
</p>


<%= link_to 'Edit', edit_core_path(@core) %> |
<%= link_to 'Back', cores_path %>
