<%= form_for(@laptop) do |f| %>
  <% if @laptop.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@laptop.errors.count, "error") %> prohibited this laptop from being saved:</h2>

      <ul>
      <% @laptop.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :precio %><br />
    <%= f.number_field :precio %>
  </div>
  <div class="field">
    <%= f.label :modelo %><br />
    <%= f.text_field :modelo %>
  </div>
  <div class="field">
    <%= f.label :marca %><br />
    <%= f.text_field :marca %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
